body{
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    justify-content: space-between;
}

footer{

    position: absolute;
    bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.frases{

    margin: 20px;
    width: 500px;
}

.nuevofooter{

    font-size: 20px;
    background-color: aqua;
}