body{
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    justify-content: space-between;
}

#segundo{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#botones{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#botones button{
    margin: 10px;
}

.oculta{
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
}

.mostrar{
    display:block;
    position: relative;
    top: 0;
    color: violet;
    font-size: 1.5rem;
    list-style: circle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

