body{
    background-color: rgb(181, 209, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction:row;
    align-items: center;
}

header h1{
    margin-left: 20px;
    color: green;
}

header img{
    border-radius: 10px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    width: 900px;
}

#filtro{
    width: 400px;
    height: 30px;
    border-radius: 6px;
    border: none;
}

#paginasN button{
    border: none;
    border-radius: 6px;
    height: 30px;
}
#paginasN button:hover{
    background-color: greenyellow;
}

#paginasF button{
    border: none;
    border-radius: 6px;
    height: 30px;
}
#paginasF button:hover{
    background-color: greenyellow;
}

button a{
    text-decoration: none;
    color: black;
}

#buscador button:hover{
    background-color: greenyellow;
}

.par{
    background-color: grey;
}

caption{
    height: 300px;
    background-color: rgb(89, 126, 89);
    font-size: 30px;
    margin-bottom: 20px;
    height: 50px;
    padding: 10px;
}

#lista{
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid;
}

#lista tr th{
    background-color: rgb(158, 223, 61);
    border: 1px black solid;
    padding: 10px;
}

#lista tr td{
    padding: 10px;
}

.par{
    background-color: rgb(111, 167, 111);
}

.impar{
    background-color: rgb(159, 187, 159);
}


#mapa{
    height: 500px;
    width: 500px;
}