body{
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    justify-content: space-between;
}

#segundo{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}